.cuadrado {
    width: 300px;
    height: 300px;
    background-color: blue;
    clip-path: polygon(evenodd, 25% 25%, 50% 25%, 75% 50%, 50% 75%, 25% 50%, 37.5% 37.5%, 37.5% 62.5%, 62.5% 62.5%, 62.5% 37.5%, 50% 37.5%, 62.5% 50%, 50% 62.5%, 37.5% 50%, 43.75% 43.75%, 50% 43.75%, 56.25% 50%, 50% 56.25%, 43.75% 50%, 46.88% 46.88%, 53.13% 46.88%, 53.13% 53.13%, 46.88% 53.13%, 46.88% 46.88%, 50% 43.75%, 56.25% 43.75%, 56.25% 56.25%, 43.75% 56.25%, 43.75% 43.75%, 50% 37.5%, 37.5% 37.5%, 50% 25%, 75% 25%, 75% 75%, 25% 75%, 0% 50%, 50% 0%, 100% 50%, 50% 100%, 25% 75%);
}

.cuadrado:hover {
    transform: translate(40px);
    background-color: #e047eb;
}


.circulo {
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    border-radius: 50%;
    clip-path: polygon(evenodd, 37.5% 36%, 62.5% 36%, 75% 11%, 85.71% 36%, 75% 86%, 62.5% 86%, 62.5% 60.07%, 75% 50.57%, 57.92% 50.57%, 62.5% 60.07%, 62.5% 86%, 37.5% 86%, 37.5% 60.07%, 25% 50.57%, 42.08% 50.57%, 37.5% 60.07%, 37.5% 86%, 25% 86%, 14.29% 36%, 25.9% 11%);
}

.circulo:hover {
    transform: translate3d (48px);
    background-color: greenyellow;

}

.triangulo {
    width: 300px;
    height: 300px;
    background-color: yellow;
    border-radius: 70%;
    clip-path: polygon(5.56% 5.56%, 50% 0%, 94.44% 5.56%, 100% 50%, 94.44% 94.44%, 50% 100%, 5.56% 94.44%, 10% 90%, 50% 94.44%, 90% 90%, 94.44% 50%, 90% 10%, 50% 5.56%, 50% 34.62%, 38.24% 38.24%, 34.62% 50%, 38.24% 61.76%, 50% 65.38%, 61.76% 61.76%, 65.38% 50%, 61.76% 38.24%, 50% 34.62%, 50% 20.37%, 72.22% 27.78%, 79.63% 50%, 72.22% 72.22%, 50% 79.63%, 27.78% 72.22%, 20.37% 50%, 27.78% 27.78%, 50% 20.37%, 50% 5.56%, 10% 10%, 5.56% 50%, 10% 90%, 5.56% 94.44%, 0% 50%);
    background-color: #47d2eb
}

.triangulo:hover {
    transform: translate(75px);
    background-color: aquamarine;
}

@keyframes fantasma {

    0%,
    100% {
        opacity: 0;
    }

    25% {
        opacity: 1;
        transform: translateY(-40px);
    }
}
img{
    animation: fantasma 2s infinite;
}

