body{
    background-image:url(../fondo/mesh-833.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

img{
    position: fixed;
    right: 0;
    top: 0;
    border: blue 2px solid;
}

h1{
    text-transform: uppercase;
}